# requirements.txt for Neural Identity Matrix V24.32
# To install: pip install -r requirements.txt
# Compatible with Python 3.9+

--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
OpenSSL
gradio==5.1.0
diffusers
transformers
pandas
numpy
matplotlib
tweepy==4.14.0
requests
pillow
secrets
scikit-learn
matplotlib
tweepy
